doctype html
html(lang="en")
    head
        include include/header
        include include/scripts
    body(ng-app="app")
        .container(ng-controller="PostsCtrl")
            h1 Node Tweeets
            form(role="form")
                <!-- h3 #{dev.name} -->
                .form-group
                    .input-group
                        input.form-control(ng-model="postBody")
                        span.input-group-btn
                            .btn.btn-default(ng-click="addPost()") add Post
            ul.list-group
                li.list-group-item(ng-repeat="post in posts | orderBy: '-date'")
                    strong @{{post.username}}
                    span {{post.body}}
